<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem statement</title>
</head>
<body>
    <h1>square</h1>
    <p>problem statement: given a number N, print it's square</p>
    <p>
        input format: The first line contains a single integer T,
        the number of testcases. Each of the next T lines contains 
        a single integer Ni.
    </p>
    <p>
        output format: print T lines, the ith line containing the 
        answer to the ith testcase.
    </p>
    <p>
        sample input: <br>
        3 <br>
        2 <br> 
        3 <br>
        7 <br>
        sample output: <br>
        4 <br>
        9 <br>
        49 <br>
    </p>
    <form action="/submit" method="POST">
        <label for="language">language</label>
        <select name="language" id="language">
            <option value="py">python</option>
            <option value="cpp">c++</option>
        </select>
        <br>
        <label for="code">your solution</label>
        <textarea id="code" name="code" cols="30" rows="10" required></textarea>
        <button type="submit">submit</button>
    </form>
</body>
</html>